body {
  background-color: #b2dfdb;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  transition: background-color 0.3s, color 0.3s;
}

.dark-mode {
  background-color: #015656;
  color: #ffffff;
}

h1 {
  text-align: center;
  font-size: 50px;
  color: #00796b;
}

header p {
  max-width: 80ch;
  margin: auto;
  color: #00796b;
  font-size: 25px;
  line-height: 150%;
}

.dark-mode h1,
.dark-mode header p {
  color: #ffffff;
}

/* CSS for the tourism-section */
.tourism-section {
  margin: 20px;
  padding: 20px;
  background-color: #ffffff;
  color: rgb(44, 43, 43);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 1200px;
  margin: 2rem auto;
}

.dark-mode .tourism-section {
  background-color: #0a7669;
  color: #ffffff;
}

.tourism-section h2 {
  font-size: 45px;
  text-align: center;
  margin-bottom: 20px;
}

.tourism-section img {
  margin: auto;
  width: 100%;
  height: 500px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.tourism-section p {
  font-size: 25px;
  line-height: 1.8;
  margin-bottom: 20px;
}

.tourism-section ul {
  list-style-type: none;
  padding: 0;
}

.tourism-section li {
  font-size: 23px;
  line-height: 1.8;
  margin-bottom: 10px;
}

.tourism-section li strong {
  color: #00796b;
}

.dark-mode .tourism-section li strong {
  color: #d0ee38;
}

.icon {
  font-size: 24px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .icon {
    font-size: 20px;
  }
}
#theme-icon {
  text-decoration: none;
  color: white;
  padding: 15px 20px;
  display: block;
  cursor: pointer;
}

.quote {
  font-size: xx-large;
  width: 60ch;
  font-size: 25px;
  margin: auto;
  color: #ec7231;
}
